body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.mainBody {
	width: 100%;
}

.clickable {
	cursor: hand;
	cursor: pointer;
}

.gameListMenu {
	width: 700px;
}

.gameListEntry {
	width: 700px;
}

.clickableCard img {
	cursor: hand;
	cursor: pointer;
}

.gameComplete {
	width: 1000px;
	height: 250px;
	text-align: center;
}

.gameLost {
	background-color: #EE4444;
}

.gameWon {
	background-color: #44EE44;
}