body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.mainBody {
	width: 100%;
}

.clickable {
	cursor: hand;
	cursor: pointer;
}

.gameListMenu {
	width: 700px;
}

.gameListEntry {
	width: 700px;
}

.gameListEntrySpacer {
	height: 5px;
}

.trickElement {
	width: 100px;
	height: 135px;
	vertical-align: middle;
	text-align: center;
	position: relative;
	float: left;
	margin: 5px;
}

.continue {
	position: relative;
	vertical-align: bottom;
	text-align: center;
	left: -40px;
	bottom: -4px;
}

.clickableCard img {
	cursor: hand;
	cursor: pointer;
}

.previousTrick {
	background-color: #444444;
	color: #888888;
	height: 200px;
	width: 500px;
}

.currentTrick {
	height: 200px;
	width: 500px;
}

.gameComplete {
	width: 1000px;
	height: 250px;
	text-align: center;
}

.gameLost {
	background-color: #EE4444;
}

.gameWon {
	background-color: #44EE44;
}