body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.mainBody {
	width: 100%;
}

.clickable {
	cursor: hand;
	cursor: pointer;
}

.findGameLoading {
	width: 11em;
}