<div class="ui selection dropdown">
	<input class="addRobots" type="hidden" name="foo" value="%defaultId%"/>
	<div class="text">%defaultDisplayName%</div><i class="dropdown icon"/>
	<div class="menu">
		%robotList%
	</div>
</div>