<div class="ui selection dropdown">
	<input class="addRobots" type="hidden" name="foo" value="none"/>
	<div class="text">None</div><i class="dropdown icon"/>
	<div class="menu">
		<div class="item active" data-value="none">None</div>
		<div class="item" data-value="easy">Easy</div>
		<div class="item" data-value="medium">Medium</div>
		<div class="item" data-value="hard">Hard</div>
	</div>
</div>