<div class="gameListEntry gameListEntryClickable gameListEntryYourTurn">
	<a class="viewGameData" id="gameId_%gameId%">
	<div>Game id: %gameId%</div>
	<div>Player IDs: %playerIds%</div>
	<div>Status: %status%</div>
	<div>Turn: %turn%</div>
	</a>
</div>
<div class="gameListEntrySpacer"></div>
