<div class="gameListMenu ui two column middle aligned relaxed grid basic segment">
	<div class="center aligned column">
		<div class="gameCreatorContainer" />
	</div>
	<div class="ui vertical divider">
		or
	</div>
	<div class="column">
		<div class="gameJoinerContainer" />
	</div>
</div>