<div class="leader">
	<h4 class="ui center aligned header">Trick Leader</h4>
	<div class="ui center aligned teal label">
		<span class="playerName"/> <div class="detail">(%team%)</div>
	</div>
</div>
