<div>
	<div class="dealer">Dealer: <span class="playerName"></span> (%dealerTeam%)</div>
	<div class="upCared">Up card: <div>%card%</div></div>
	%trumpSelectionAction%
	<div class="trumpSelectionPass">
		<button class="trumpSelectionPassButton" type="button">Pass</input>
	</div>
</div>
